<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Username
    <input type="text" name="user[username]">
    </label>

    <label>Password
    <input type="text" name="user[password]">
    </label>

    <input type="submit" value="Sign In">
</form>
<br>
<p>New to breaddit?</p>
<%= link_to 'Sign Up', new_user_url %>
<br>
<%= link_to 'Subs', subs_url %>